* {
    margin: 0;
    padding: 0;
}

.navbar {
    overflow: hidden;
    background-color: #583C18;
    position: sticky;
    top: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: white;
    color: #63331C;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 20px;
    align-items: center;
    grid-gap: 30px;
}

img {
    object-fit: cover;
}

.grid > article {
    border-radius: 20px;
    text-align: center;
    background: #583C18;
    width: 300px;
}

.grid > article img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

article {
    width: 90%;
    max-width: 600px;
    padding: 10px;
    margin: 0px auto;
}

@media (max-width: 1000px) {
    .grid {
      grid-template-columns: repeat(2,1fr);
    }
  }
  
  @media (max-width: 800px) {
    .grid {
      grid-template-columns: repeat(1,1fr);
    }
  }

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
}

li {
    padding-top: 5px;
}

.checked {
    color: greenyellow;
}

.konten {
    color: white;
}